.search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

/* Input fields */
.search-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 40%;
}

/* Specific styles for each input */
.name-input {
    background-color: #2e2e2e;
}

.description-input {
    background-color: #2e2e2e;
}

/* Search button */
.search-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover effect for search button */
.search-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .search-input {
        font-size: 10px;
        padding: 9px;
    }

    .search-btn {
        font-size: 10px;
        padding: 9px 12px;
    }
}
